<!DOCTYPE html>
<html ng-app="myNinjaApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js" charset="utf-8"></script>
<style media="screen">
.content {
  overflow: hidden;
  padding: 46px;
  background: #eee;
}
</style>
<body>

<div class="content" ng-controller="Controller1">
  <input type="text" ng-model="favSport" placeholder="enter Your fav sport...">
   <p>your fav sport is <span>{{favSport}}</span></p>

<br/>
<br/>
<p>{{5 * 5}}</p>
<p>{{message}}</p>
<ul>
  <li ng-repeat="ninja1 in ninjas1">{{ninja1}}</li>
  <li ng-repeat="number in numbers">{{number}}</li>
</ul>
<br/>
<div ng-init="ninjas=['yoshi', 'crystal', 'ryu', 'shaun']">
  <ul>
    <li ng-repeat="ninja in ninjas">{{ninja}}</li>
  </ul>
</div>
<br/>
<br/>
<br/>
<br/>
</div>
</body>
</html>
